<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>todolist-flask</title>
    <script src="https://cdn.jsdelivr.net/npm/vue@3.2/dist/vue.global.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='style.css') }}">
  </head>
  <body>
    <div id="app">
      <nav>
        <ul class="menu">
          <li><a href="#" @click.prevent="switchCreateTodoForm">Create</a></li>
          <li><a href="#" @click.prevent="selectAll">Select all</a></li>
          <li><a href="#" @click.prevent="doneTodo">Done</a></li>
          <li><a href="#" @click.prevent="deleteTodo">Delete</a></li>
        </ul>
      </nav>
      <div class="createtodoform" v-show="showCreateTodoForm">
        <form @submit.prevent="createTodo">
          <label for="newTodo">
            <small>New Todo:</small>
          </label><br>
          <input type="text" id="newTodo" autocomplete="off" v-model="newTodo" />
          <button type="submit">Submit</button>
        </form>
      </div>
      <ul class="todolist">
        <li v-for="todo in todolist" :key="todo.id">
          <input type="checkbox" :id="'todo-id-' + todo.id" v-model="todo.selected" />
          <label :for="'todo-id-' + todo.id">[[ todo.name ]]</label>
          <span v-if="todo.completed"> | Done 👍</span>
        </li>
      </ul>
    </div>
    <script>
      const app = Vue.createApp({
        delimiters: ['[[', ']]'],
        data() {
          return {
            showCreateTodoForm: false,
            newTodo: '',
            todolist: []
          }
        },
        async created() {
          await this.init()
        },
        methods: {
          async init() {
            await axios.get('/api/todolist')
              .then((resp) => {
                this.todolist = resp.data.map(todo => ({
                  ...todo,
                  selected: false
                }))
              })
              .catch((error) => {
                alert(error)
              })
            this.showCreateTodoForm = false
            this.newTodo = ''
          },
          switchCreateTodoForm() {
            this.showCreateTodoForm = !this.showCreateTodoForm
          },
          selectAll() {
          },
          async doneTodo() {
          },
          async deleteTodo() {
          },
          async createTodo() {
            await axios.post('/api/todolist', { name: this.newTodo })
              .then((resp) => {
                if (resp.data.status === 'success') {
                  this.init()
                } else {
                  alert(resp.data.message)
                }
              })
              .catch((error) => {
                alert(error)
              })
          }
        }
      })
      app.mount('#app')
    </script>
  </body>
</html>
