.menu {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
}

.menu li {
    float: left;
}

.menu li a {
    display: block;
    color: black;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

.menu li a:hover {
    background-color: #ddd;
}

.createtodoform{
    margin-left: 30px;
}

.createtodoform input {
    margin-right: 10px;
}

.todolist {
    padding-inline-start: 20px;
}

.todolist li {
    list-style: none;
}

.todolist li input {
    margin-right: 10px;
}

.todolist li span {
    margin-left: 10px;
}
